footer {
  height: 50px;
  background-color: blue;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

footer span a{
  margin-left: 25px;
  color: white;
}
.btn {
  background-color: crimson;
}